<section class="bg-light py-3" style="height: 550px">
  <div class="container">
    <div class="row">  
      <!-- cart -->

      <div class="col-lg-12">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your Cart</h4>

            <div class="row gy-3 mb-4">
              <div class="col-lg-6">
                <div class="me-lg-4">
                  <div class="d-flex mx-5 my-4" *ngFor="let p of products">
                    <img
                      [src]="p.image"
                      class="border rounded me-3"
                      style="width: 96px; height: 96px"
                    />

                    <div class="d-flex align-items-center">
                      <p>{{ p.title }}</p>
                    </div>
                    <div
                      class="col-lg-3  col-sm-3 col-3 d-flex flex-row flex-lg-column flex-xl-row text-nowrap justify-content-center align-items-center"
                    >
                      <div class="">
                        <h6>{{ p.price }}</h6>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                
                      <div class="d-flex flex-row align-items-center">
                        <p>{{p.count}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <td>
                <div id="emptyCart">
                  <p class="fs-2"></p>
                  <a routerLink="/home" class="btn btn-primary">
                    Continue Shopping</a>
                </div>
              </td>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cart -->
</section>